<title>Contact | LL Wafer</title>
<h1>About Me</h1>
<p>Hello! My name is amaburi, and I've been in the Love Live fandom since around 2015.
    Aqours is my favorite group! But my two best girls are Maki and Dia.
    I made this site since I enjoy collecting wafer cards, and to my knowledge, there isn't a official or fanmade list of every Love Live wafer card in existence.
    Thanks for stopping by!
</p>
<mat-divider></mat-divider>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>Want to add or correct any card information?</mat-panel-title>
    </mat-expansion-panel-header>
    <h3>Fill out this form here!</h3>
</mat-expansion-panel>